{% extends "base.html" %}

{% block content %}

<p>
Talk of the Town is a fun experiment built by Andrew Pendleton, Kaitlin Lee and Matthew Gerring of the <a href="http://sunlightlabs.com">Sunlight Labs</a> for the 2011 Labs Olympics. Talk of the Town pulls in data from the <a href="http://granicus.com">Granicus</a> API and calculates the frequency and geographical distribution of different words and phrases. Users can move the slider below the map to see the intensity of words over time, by region.
</p>
<p>
Talk of the Town is not meant to be an exhaustive tool for analysis. It's corpus doesn't cover everywhere in America, but it's a big enough sample to be fun! Send feedback to talkofthetown[AT]sunlightfoundation[DOT]com.
</p>
{% endblock content %}
