<!DOCTYPE html>
<html>
<head>
<title>MunicipalWords</title>
<link href="/static/styles/main.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1><a href="/">Talk of the Town</a></h1>
            <img src="/static/img/city-scape.jpg" />
        </div>
        <ul class="nav">
            <li><a href="https://github.com/sunlightlabs/muni_words">Source Code</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <div style="clear:both;"></div>
        <div class="content">
            {% block content %}{% endblock content %}
        </div>
    </div>

</body>
</html>
