<!DOCTYPE html>
<html>
<head>
<title>Talk of the Town</title>
<link href="/static/styles/main.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise' rel='stylesheet' type='text/css'>
{% block extrahead %}
{% endblock %}
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Talk of the Town</h1>
        </div>
        <ul class="nav">
            <li><a href="https://github.com/sunlightlabs/muni_words">Source Code</a></li>
            <li><a href="{% url about %}">About</a></li>
        </ul>
        <div style="clear:both;"></div>
        <div class="content">
            {% block content %}{% endblock content %}
        </div>
    </div>
</body>
</html>
